.gradle/
build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
*.apk
*.aar
*.keystore
.DS_Store
Thumbs.db

# Advanced Exclusions
*.db
*.db-journal
*.sqlite*
*.apk
*.exe
*.obj
.wwebjs_auth/
.wwebjs_cache/
.vscode/
.idea/

